corteza_sink: "|curl --data-binary @- 'https://api.corteza.toni-media.de/system/sink?content-type=email&expires=&method=POST&origin=postfix&__sign==70785a979514eac49c7801fee8127b1567fbdc37_eyJtdGQiOiJQT1NUIn0%3D'"